<h1>Living dogs</h1>

<%= render :partial => 'dog_list', :locals => { :person => @person, :dog => @dog } %>

<br />

<%= link_to 'Back to Person', @person %>|
<%= link_to 'New dog', new_person_dog_path(@person) %>
